---
import "../styles/global.css";
import CardMobil from "../components/CardMobil.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Produktkort from "../components/Produktkort.astro";
import Ikea from "../components/Ikea.astro";

const data = await fetch(
  "https://vlprteqptglrilewaeps.supabase.co/rest/v1/GreenLiving",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZscHJ0ZXFwdGdscmlsZXdhZXBzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTYyMDcwOTAsImV4cCI6MjAzMTc4MzA5MH0.dhbb7ywF0JhPSlviFneY6CRDSPjtANKWEh_MWyKUgog",
    },
  }
).then((res) => res.json());
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Forside</title>
    <link rel="stylesheet" href="https://use.typekit.net/onu0qzz.css" />
  </head>
  <body>
    <Layout>
      <img
        class="forside-billede"
        src="/Images/Forsidebillede-desk.avif"
        alt="stole tegnet"
      />
      <h1>
        <span style="color: var(--button-color)">•</span> Nyheder <span
          style="color: var(--button-color)">•</span
        >
      </h1>
      <CardMobil />
      <div class="illu-forside">
        <div class="mobil-illu">
          <img src="/illu-forside.svg" alt="stole tegnet" />
          <div class="inspiration">
            <h2>Få inspiration her</h2>
            <a href="produktliste">Læs mere</a>
          </div>
        </div>
        <img class="desk" src="/stole-illustration-desk.svg" alt="" />
        <div class="inspiration-desk">
          <h2>Få inspiration her</h2>
          <a href="produktliste">Læs mere</a>
        </div>
      </div>
      <h2>
        <span style="color: var(--button-color)">•</span> Kategorier <span
          style="color: var(--button-color)">•</span
        >
      </h2>
      <div class="container">
        <div class="billede">
          <img class="desk" src="/rund1.avif" alt="billede af produkter" />
          <img
            class="Mobil"
            src="/mobil-rund1.jpg"
            alt="billede af produkter"
          />
          <h3>PLAKATER</h3>
        </div>
        <div class="billede">
          <img class="desk" src="/rund2.avif" alt="billede af produkter" />
          <img
            class="Mobil"
            src="/mobil-rund2.jpg"
            alt="billede af produkter"
          />
          <h3>INTERIØR</h3>
        </div>
        <div class="billede">
          <img class="desk" src="/rund3.avif" alt="billede af produkter" />
          <img
            class="Mobil"
            src="/mobil-rund3.jpg"
            alt="billede af produkter"
          />
          <h3>KERAMIK</h3>
        </div>
        <div class="billede">
          <img class="desk" src="/rund4.avif" alt="billede af produkter" />
          <img
            class="Mobil"
            src="/mobil-rund4.jpg"
            alt="billede af produkter"
          />
          <h3>MAD OG PLEJE</h3>
        </div>
      </div>
    </Layout>
  </body>

  <style>
    @media (min-width: 449px) {
      div a {
        margin: auto;
        border-radius: 25px;
        color: var(--primary-color);
        background-color: rgba(255, 156, 84, 1);
        padding: 20px;
        text-decoration: none;
        align-self: center;
        font-weight: bold;
        font-size: var(--p-size);
      }

      .inspiration h3 {
        font-size: 3vw;
      }

      .container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 50px;
        gap: 40px;
      }

      .billede {
        margin: 20px;
      }

      .forside-billede {
        width: 100vw;
      }

      .illu-forside {
        background-color: var(--boks-color);
        padding: 5%;
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

      .inspiration-desk {
        display: grid;
        justify-content: start;
        align-content: center;
        gap: 30px;
        margin-left: 20%;
      }
      .inspiration-desk h3 {
        font-size: 3vw;
      }
      h1,
      h2 {
        font-size: var(--h2-size);
        margin-top: 5%;
      }

      .Mobil {
        display: none;
      }
      .mobil-illu {
        background-color: var(--boks-color);
        padding: 5%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        display: none;
      }

      .mobil-illu a {
        background-color: var(--boks-color);
        padding: 5%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        display: none;
      }
    }

    @media (max-width: 449px) {
      .inspiration-desk h3 {
        font-size: 2vw;
      }
      .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin-bottom: 30px;
        margin-top: 30px;
      }
      .billede {
        margin: auto;
        align-items: center;
      }

      .mobil-illu {
        background-color: var(--boks-color);
        padding: 5%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 20px;
      }

      .desk {
        display: none;
      }

      .inspiration-desk {
        display: none;
      }

      .inspiration {
        display: grid;
        align-content: center;
        gap: 15px;
      }

      div a {
        margin: auto;
        border-radius: 25px;
        color: var(--primary-color);
        background-color: rgba(255, 156, 84, 1);
        padding: 10px;
        text-decoration: none;
        align-self: center;
        font-weight: bold;
        font-size: 3vw;
      }
    }
  </style>
</html>
