---
import "../styles/global.css";
import CardMobil from "../components/CardMobil.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Forside</title>
    <link rel="stylesheet" href="https://use.typekit.net/onu0qzz.css" />
  </head>
  <body>
    <Layout>
      <img
        class="illu_mobil"
        src="/public/Illu_mobil.svg"
        alt="illustration af butikken"
      />
      <h1>Nyheder</h1>
      <CardMobil />
      <div class="inspiration">
        <h3>Få inspiration her</h3>
        <a href="">Læs mere</a>
      </div>
      <img src="/public/squrriel_mobil.svg" alt="illustration af bord med keramik" />
    <Layout/>
  </body>
</html>

<style>
  .inspiration {
    display: grid;
    justify-content: end;
    translate: -40px 100px;
  }

  div a {
    border-radius: 35%;
    color: var(--primary-color);
    background-color: rgba(255, 156, 84, 1);
    padding: 5%;
    text-decoration: none;
  }

</style>
