---
import "../styles/global.css";
import CardMobil from "../components/CardMobil.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Produktkort from "../components/Produktkort.astro";

const data = await fetch(
  "https://vlprteqptglrilewaeps.supabase.co/rest/v1/GreenLiving",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZscHJ0ZXFwdGdscmlsZXdhZXBzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTYyMDcwOTAsImV4cCI6MjAzMTc4MzA5MH0.dhbb7ywF0JhPSlviFneY6CRDSPjtANKWEh_MWyKUgog",
    },
  }
).then((res) => res.json());

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Forside</title>
    <link rel="stylesheet" href="https://use.typekit.net/onu0qzz.css" />
  </head>
  <body>
    <Layout>
      <img
        class="illu_mobil"
        src="/Illu_mobil.svg"
        alt="illustration af butikken"
      />
      <h1>Nyheder</h1>
      <section>
        {
          data.map((produkt) => {
            return <Produktkort data={produkt}/>;
          })
        }
      </section>

      <div class="inspiration">
        <h3>Få inspiration her</h3>
        <a href="">Læs mere</a>
      </div>
      <img
        src="/squrriel_mobil.svg"
        alt="illustration af bord med keramik"
      />
      <Layout />
    </Layout>
  </body>

  <style>
    .inspiration {
      display: grid;
      justify-content: end;
      translate: -40px 100px;
    }

    div a {
      border-radius: 35%;
      color: var(--primary-color);
      background-color: rgba(255, 156, 84, 1);
      padding: 5%;
      text-decoration: none;
    }
  </style>
</html>
