---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Deskmenu from "../components/Deskmenu.astro";
import Deskfooter from "../components/Deskfooter.astro";
---

<!doctype html>
<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Forside</title>
    <link rel="stylesheet" href="https://use.typekit.net/onu0qzz.css" />
  </head>
  <body>
    <Header />
    <main>
      <div class="illu_mobil1 illu_desk grid1-1">
        <h1>
          OM <span style="color: var(--accent-color);">GREEN LIVING</span> OG HVAD
          <span style="color: var(--button-color);">VI</span> STÅR FOR
        </h1>
        <img class="illu_desk" src="/Illu_desk.svg" alt="butik" />
        <img class="illu_mobil1" src="/Illu_mobil.svg" alt="butik" />
      </div>

      <div class="container">
        <h2 class="font2">
          <span style="color: var(--button-color)">•</span> VORES VÆRDIER <span
            style="color: var(--button-color)">•</span
          >
        </h2>
        <div class="content">
          <div class="box">
            <h2>Hvorfor vælge bæredygtighed tænker I?</h2>
            <p>
              Vi lægger utrolig høj vægt på kvalitet og de forhold vores
              produkter fremstilles under. Alle vores varer er nøje udvalgt og
              inspiceret. Vores snedker, væver og leverandører er primært fra
              Asien, hvor gode råmaterialer og godt håndværk er til at finde, i
              henhold til de rammer og krav for bæredygtighed vi har sat.
            </p>
            <button>MEGA ENIG!</button>
          </div>
          <div class="box">
            <h2>Vidste du at?</h2>
            <p>
              Vi har de sidste 5 år støttet lokale og internationale
              social-økonomiske projekter. Lige fra flygtninge kvinder i
              Fredericia til mødre i udkanten af Ghana. Vi sørger nemlig altid
              for at betale dem ordentligt. Det gør vi ved, at selv give dem
              pengene i hånden. Så vi er sikre på at det er en fair trade.
            </p>
            <button>HVOR SEJT!</button>
          </div>
          <div class="box">
            <h2>Hvorfor vælge bæredygtighed tænker I?</h2>
            <p>
              Vi lægger utrolig høj vægt på kvalitet og de forhold vores
              produkter fremstilles under. Alle vores varer er nøje udvalgt og
              inspiceret. Vores snedker, væver og leverandører er primært fra
              Asien, hvor gode råmaterialer og godt håndværk er til at finde, i
              henhold til de rammer og krav for bæredygtighed vi har sat.
            </p>
            <button>GOD TANKE!</button>
          </div>
        </div>
      </div>
      <div class="Kontakt">
        <div class="Info-kontakt">
          <div>
            <h3>KONTAKT OS</h3>
            <ul>
              <li>Adresse: Nørrebrogade 61, 2200</li>
              <li>Telefon: 61765170</li>
              <li>Email: kontakt@greenliving.dk</li>
            </ul>
          </div>
          <div class="Abningstider">
            <h2>Vores åbningstider</h2>
            <ul>
              <li>Mandag-Fredag: 10.00-17.00</li>
              <li>Lørdag: 10.00-16.00</li>
              <li>Søndag: Lukket</li>
            </ul>
          </div>
        </div>
        <img class="maria" src="/Images/Maria-Omos.avif" alt="maria" />
      </div>
      <div class="Instasection">
        <h3>
          <span style="color: var(--button-color);">•</span> FØLG OS PÅ INSTAGRAM
          <span style="color: var(--button-color);">•</span>
        </h3>

        <div class="grid_1-4">
          <img class="Instadesk" src="/Images/deskInsta1.avif" alt="" />
          <img class="Instadesk" src="/Images/deskInsta2.avif" alt="" />
          <img class="Instadesk" src="/Images/deskInsta3.avif" alt="" />
          <img class="Instadesk" src="/Images/deskInsta4.avif" alt="" />
        </div>
        <div class="grid_1-2">
          <img class="Insta" src="/Images/SmaBilleder1.avif" alt="" />
          <div>
            <img class="Insta" src="/Images/SmaBilleder4.avif" alt="" />
            <img class="Insta" src="/Images/SmaBilleder.avif" alt="" />
          </div>
        </div>
        <div class="grid_1-2">
          <div>
            <img class="Insta" src="/Images/SmaBilleder4.avif" alt="" />
            <img class="Insta" src="/Images/SmaBilleder.avif" alt="" />
          </div>
          <img class="Insta" src="/Images/SmaBilleder1.avif" alt="" />
        </div>
        <div class="grid_1-2">
          <img class="Insta" src="/Images/SmaBilleder1.avif" alt="" />
          <div>
            <img class="Insta" src="/Images/SmaBilleder4.avif" alt="" />
            <img class="Insta" src="/Images/SmaBilleder.avif" alt="" />
          </div>
        </div>
      </div>
      <Footer />
      <Deskfooter />

      <style>
        @media (max-width: 500px) {
          .illu_desk {
            display: none;
          }

          body {
            background-color: rgba(255, 249, 244, 1);
            margin: 0;
            padding: 0;
          }

          .container {
            text-align: center;
            padding: 20px;
            background-color: rgba(4, 92, 69, 1);
          }

          h1 {
            color: rgba(11, 11, 11, 1);
            margin-bottom: 40px;
          }

          .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
          }

          .box {
            background-color: rgba(239, 194, 127, 1);
            color: rgba(240, 231, 224, 1);
            padding: 20px;
            border-radius: 10px;
            width: 80%;
            max-width: 600px;
          }

          h2 {
            font-size: 1.2em;
            margin-bottom: 10px;
            color: rgba(11, 11, 11, 1);
            text-align: start;
          }

          .font2 {
            color: rgba(240, 231, 224, 1);
            margin-bottom: 40px;
            font-size: 25px;
          }

          p {
            font-size: 1em;
            margin-bottom: 20px;
            line-height: 1.5;
            color: rgba(11, 11, 11, 1);
            text-align: start;
          }

          button {
            background-color: rgba(255, 156, 84, 1);
            color: rgba(240, 231, 224, 1);
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 1em;
            transition: background-color 0.3s;
          }

          .grid_1-2 {
            display: grid;
            grid-template-columns: 1fr 2fr;
            margin: auto;
            align-items: center;
          }

          .Kontakt {
            background-color: rgba(240, 231, 224, 1);
            color: rgba(11, 11, 11, 1);
            display: flex;
            align-items: start;
            flex-direction: column;
            padding-top: 20px;
            padding-bottom: 20px;
          }

          .baggrundsfarve {
            background-color: var(--primary-color);
          }

          .Insta {
            padding: 5px;
          }

          .Instadesk {
            display: none;
          }

          .Instasection {
            padding-top: 30px;
          }

          .illu_mobil1 {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding-bottom: 30px;
            padding-top: 40px;
          }

          .maria {
            max-width: 80%;
            border-radius: 10px;
            display: none;
          }

          li {
            color: var(--text-color);
          }
        }

        @media (min-width: 500px) {
          body {
            background-color: rgba(255, 249, 244, 1);
            margin: 0;
            padding: 0;
          }
          .illu_desk {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding-bottom: 30px;
            padding-top: 40px;
          }

          .illu_mobil1 {
            display: none;
          }

          .container {
            text-align: center;
            padding: 20px;
            background-color: rgba(4, 92, 69, 1);
          }

          .content {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
            gap: 5%;
            margin: auto;
          }

          .Kontakt {
            background-color: rgba(240, 231, 224, 1);
            color: rgba(11, 11, 11, 1);
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding-top: 5%;
            padding-bottom: 5%;
            font-size: 20px;
            justify-items: center;
          }

          .Kontakt h3 {
            font-size: 40px;
          }

          .Kontakt li {
            line-height: 45px;
          }

          .maria {
            max-width: 80%;
            border-radius: 10px;
          }

          .box {
            background-color: rgba(239, 194, 127, 1);
            color: var(--text-color);
            padding: 10%;
            gap: 10px;
            align-items: center;
          }

          .box p {
            line-height: 25px;
            text-align: start;
          }

          .box h2 {
            line-height: 30px;
            text-align: start;
          }

          button {
            background-color: rgba(255, 156, 84, 1);
            color: rgba(240, 231, 224, 1);
            border: none;
            border-radius: 15px;
            font-size: 20px;
            padding: 10px;
            max-width: 50%;
            margin: auto;
          }

          .Insta {
            display: none;
          }

          .Instadesk {
            max-width: 100%;
          }

          .Instasection h3 {
            font-size: 30px;
            padding-top: 20px;
          }

          .Instasection {
            padding-top: 5%;
            padding-bottom: 2%;
          }

          .grid_1-4 {
            display: grid;
            gap: 20px;
            margin-top: 2rem;
            margin-bottom: 2rem;
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
            justify-content: center;
            justify-items: center;
          }

          .grid1-1 {
            display: grid;
            grid-template-columns: 1fr auto;
            gap: 6%;
            align-items: center;
            padding-left: 8%;
            padding-right: 50px;
          }

          .font2 {
            color: rgba(240, 231, 224, 1);
            text-align: start;
            padding-bottom: 2%;
          }

          .Abningstider {
            padding-top: 10%;
          }

          .illu_desk {
            max-width: 100%;
          }

          h1 {
            font-size: 4vw;
          }

          li {
            color: var(--text-color);
          }
        }
      </style>
    </main>
  </body>
</html>
