---
import "../styles/global.css";
import CardMobil from "../components/CardMobil.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Produktkort from "../components/Produktkort.astro";

const data = await fetch(
  "https://vlprteqptglrilewaeps.supabase.co/rest/v1/GreenLiving",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZscHJ0ZXFwdGdscmlsZXdhZXBzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTYyMDcwOTAsImV4cCI6MjAzMTc4MzA5MH0.dhbb7ywF0JhPSlviFneY6CRDSPjtANKWEh_MWyKUgog",
    },
  }
).then((res) => res.json());
console.log({ data });
---

<Layout>
  <section>
    {
      data.map((produkt) => {
        return <Produktkort data={produkt} />;
      })
    }
  </section>
</Layout>
