---
import "../styles/global.css";
import CardMobil from "../components/CardMobil.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Produktkort from "../components/Produktkort.astro";
import Ikea from "../components/Ikea.astro";

const data = await fetch(
  "https://vlprteqptglrilewaeps.supabase.co/rest/v1/GreenLiving",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZscHJ0ZXFwdGdscmlsZXdhZXBzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTYyMDcwOTAsImV4cCI6MjAzMTc4MzA5MH0.dhbb7ywF0JhPSlviFneY6CRDSPjtANKWEh_MWyKUgog",
    },
  }
).then((res) => res.json());
console.log({ data });
---

<Layout>
  <h1><span style="color: var(--button-color)">•</span> Produkter <span style="color: var(--button-color)">•</span></h1>
  <h2><span style="color: var(--accent-color)">•</span> Plakater <span style="color: var(--accent-color)">•</span></h2>
  <section>
    {
      data.map((produkt) => {
        if (produkt.type === "plakat") {
          return <Produktkort data={produkt} />;
        }
      })
    }
  </section>
  <Ikea />
  <h2><span style="color: var(--accent-color)">•</span> Skåle <span style="color: var(--accent-color)">•</span></h2>
  <section>
    {
      data.map((produkt) => {
        if (produkt.type === "skaal") {
          return <Produktkort data={produkt} />;
        }
      })
    }
  </section>

  <!-- <section>
    {
      data.map((produkt, index) => {
        if (index < 8) {
          return <Produktkort data={produkt} />;
        }
      })
    }
  </section> -->
</Layout>

<style>
  section {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
     margin: auto;
     margin-left: 5%;
     margin-right: 5%;
    }
  @media (min-width: 500px) {
   h1{
    font-size: 4vw;
    margin-top: 8%;
   }

   h2{
    font-size: 3vw;
    margin-top: 5%;
    margin-left: 6%;
    text-align: start;
   }
   
  }

  @media (max-width:500px){
    h1{
    font-size: 10vw;
    margin-top: 8%;
   }

   h2{
    font-size: 8vw;
    margin-top: 5%;
    margin-left: 6%;
    text-align: start;
   }
  }

</style>


 

