---
import "../styles/global.css";
---

<footer class="footer">
  <h3 class="overskrift">
    <span style="color: var(--accent-color);">•</span> TRUSTPILOT ANMELDELSER <span
      style="color: var(--accent-color);">•</span>
  </h3>
  <div class="trustpilot">
    <img src="/Images/Desktrustpilot.avif" alt="trustpilot" />
    <img src="/Images/Desktrustpilot2.avif" alt="trustpilot" />
    <img src="/Images/Desktrustpilot3.avif" alt="trustpilot" />
  </div>

  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>Se mere her:</h4>
        <ul>
          <li><a href="">Klimaværkstedet</a></li>
          <li><a href="">Trustpilot</a></li>
          <li><a href="">Handelsbetingelser</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Kontakt os her:</h4>
        <ul>
          <li><a href="">Adresse: Nørrebrogade61, 2200</a></li>
          <li><a href="">Telefon: 61765170</a></li>
          <li><a href="">Email: kontakt@greenliving.dk</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Åbningstider:</h4>
        <ul>
          <li>Mandag-Fredag: 10.00-17.00</li>
          <li>Lørdag: 10.00-16.00</li>
          <li>Søndag: Lukket</li>
        </ul>
      </div>
    </div>
  </div>

  <style>
    @media (max-width: 392px) {
      .footer {
        display: none;
      }
    }

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    .container {
      padding-top: 5%;
      margin: auto;
      background-color: var(--accent-color);
      padding-bottom: 10%;
    }

    .row {
      display: grid;
      grid-template-columns: repeat(3, auto);
      margin: auto;
      justify-items: center;
    }
    ul {
      list-style: none;
    }
    footer {
      background-color: var(--header-color);
      padding-top: 5%;
    }

    .footer-col {
      padding: 0 15px;
      display: grid;
      justify-items: start;
    }

    .footer-col h4 {
      font-size: 18px;
      margin-bottom: 30px;
      font-weight: 800;
      position: relative;
    }

    .footer-col h4::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -10px;
      height: 2px;
      box-sizing: border-box;
      width: 50px;
    }

    .footer-col ul li:not(:last-child) {
      margin-bottom: 10px;
    }

    .footer-col ul li a {
      font-size: 16px;
      text-decoration: none;
      font-weight: 400;
      display: block;
      color: var(--primary-color);
    }

    .footer-col ul li a:hover {
      color: rgba(239, 194, 127);
      padding-left: 8px;
    }

    .trustpilot {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 3%;
      justify-items: center;
      padding: 5%;
      background-color: var(--header-color);
    }
    .trustpilot img {
      border-radius: 10px;
    }

    .overskrift {
      text-align: start;
      margin-left: 6%;
      color: var(--text-color);
      font-size: 30px;
    }
  </style>
</footer>
