---

---

<div class="trustpilot">
  <div class="trust">
    <a href="https://dk.trustpilot.com/review/www.green-living.dk"
      ><p>Trustpilot</p></a
    >
    <img src="/Images/Trustpilot.svg" alt="" />
  </div>
  <div class="icons">
    <a href="https://www.instagram.com/green_living_by_me/"
      ><img src="/insta.svg" alt="instagram ikon" /></a
    >
    <a href="https://www.facebook.com/Greenlivingbyme"
      ><img src="/fb.svg" alt="facebook ikon" /></a
    >
  </div>
</div>
<nav>
  <div class="wrapper">
    <a href="/"><img src="/Logo.svg" alt="groent trae" /></a>

    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li>
        <a href="/produktliste">Produkter</a>
        <div class="mega-box">
          <div class="content">
            <div class="row">
              <a href="plakater"><p><span style="font-weight: bold;">Plakater</span></p></a>
              <ul class="mega-links">
                <li><a href="/produktliste">Rammer</a></li>
                <li><a href="/produktliste">A3</a></li>
                <li><a href="/produktliste">A4</a></li>
                <li><a href="/produktliste">A5</a></li>
              </ul>
            </div>
            <div class="row">
              <a href="keramik"><p><span style="font-weight: bold;">Keramik</span></p></a>
              <ul class="mega-links">
                <li><a href="/produktliste">Kopper</a></li>
                <li><a href="/produktliste">Skåle</a></li>
                <li><a href="/produktliste">Tallerkener</a></li>
                <li><a href="/produktliste">Andet</a></li>
              </ul>
            </div>
            <div class="row">
              <p><span style="font-weight: bold;">Mad/Pleje</span></p>
              <ul class="mega-links">
                <li><a href="#">Hudpleje</a></li>
                <li><a href="#">Chokolade</a></li>
                <li><a href="#">Nødder/Frø</a></li>
                <li><a href="#">Tørret frugt</a></li>
              </ul>
            </div>
            <div class="row">
              <p><span style="font-weight: bold;">Smykker</span></p>
              <ul class="mega-links">
                <li><a href="produktliste">Halskæde</a></li>
                <li><a href="produktliste">Ringe</a></li>
                <li><a href="produktliste">Øreringe</a></li>
              </ul>
            </div>
            <div class="row">
              <p><span style="font-weight: bold;">Interiør</span></p>
              <ul class="mega-links">
                <li><a href="produktliste">Flettede kurve</a></li>
                <li><a href="produktliste">Pudebetræk</a></li>
                <li><a href="produktliste">Sengetæpper</a></li>
                <li><a href="produktliste">Toilettasker</a></li>
                <li><a href="produktliste">Lamper</a></li>
                <li><a href="produktliste">Møbler</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>

      <li><a href="/omOs">Om os</a></li>
    </ul>
  </div>
</nav>

<style>
  header {
    background-color: var(--secondary-color);
  }
  .header {
    display: grid;
  }
  nav {
    background-color: rgba(240, 231, 224, 1);
    width: 100%;
    z-index: 999;
    height: 65px;
    line-height: 65px;
  }

  nav .wrapper {
    max-width: 1250px;
    padding: 0 30px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  .wrapper .logo a {
    color: black;
    text-decoration: none;
    font-size: 27px;
    font-weight: 600;
  }

  .nav-links li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.3s ease;
  }

  .wrapper .nav-links {
    display: flex;
    gap: 40px;
  }

  .nav-links li {
    list-style: none;
  }

  .nav-links li a:hover {
    color: var(--button-color);
  }

  .nav-links li:hover .mega-box {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
  }

  .mega-box {
    position: absolute;
    top: 120px;
    width: 97vw;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
    background-color: var(--primary-color);
  }

  .mega-box .content {
    background: rgba(240, 231, 224, 1);
    padding: 25px 20px;
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .content .row header {
    color: black;
    font-size: 20px;
    font-weight: 500;
  }

  .content .row .mega-links {
    /* margin-left: -40px; */
  }

  .row p {
    font-size: var(--p-size);
  }

  .content .row:nth-child(1),
  .content .row:nth-child(2),
  .content .row:nth-child(3),
  .content .row:nth-child(4) {
    border: 0px;
  }

  .row .mega-links li {
    padding: 0 20px;
  }

  .content .row .mega-links li a:hover {
    color: var(--button-color);
  }

  .row .mega-links li a {
    padding: 0 20px;
    color: black;
    font-size: 17px;
    display: block;
  }

  .mega-links li a{
    font-weight: 100;
  }

  .trustpilot {
    background-color: var(--secondary-color);
    display: flex;
    font-weight: bold;
    font-size: var(--p-size);
    gap: 20px;
    margin-left: 2%;
    padding: 1%;
    justify-content: space-between;
  }

  .trustpilot a {
    text-decoration: none;
    color: var(--text-color);
    gap: 20px;
  }

  .trust {
    display: flex;
    gap: 10px;
  }

  .icons {
    display: flex;
    gap: 20px;
    padding-right: 30px;
  }

  @media (min-width: 393px) {
  }
</style>
