<footer>
    <div class="footer_mobil">
      <div>
        <h4>Se mere her:</h4>
        <ul>
          <li>Klimaværkstedet</li>
          <li>Trustpilot</li>
          <li>Handelsbetingelser</li>
        </ul>
      </div>
      <div>
        <h4>Kontakt os her:</h4>
        <ul>
          <li>Adresse: Nørrebrogade 61, 2200</li>
          <li>Telefon: 61765170</li>
          <li>Email: kontakt@greenliving.dk</li>
        </ul>
      </div>
      <div>
        <h4>Vores åbningstider:</h4>
        <ul>
          <li>Mandag - Fredag: 10.00-17.00</li>
          <li>Lørdag: 10.00-16.00</li>
          <li>Søndag: Lukket</li>
        </ul>
      </div>
    </div>
  </footer>