---
import Burgermenu from "./Burgermenu.astro";
import "../styles/global.css";
import Deskmenu from "./Deskmenu.astro";
---

<header>
  <div>
    <a href="/"><img src="/Logo.svg" alt="" /></a>
  </div>
  <!-- <Burgermenu /> -->
  <Deskmenu />
</header>
