---

---

<header>
  <div>
    <a href="/index"><img src="/public/Logo.svg" alt="" /></a>
  </div>
  <div>
    <nav>
      <ul>
        <li><a href="/produktliste">Produkter</a></li>
        <li>Om os</li>
        <li>Din kurv</li>
      </ul>
    </nav>
  </div>
</header>
