---
import Burgermenu from "./Burgermenu.astro";
import "../styles/global.css";
import Deskmenu from "./Deskmenu.astro";
---

<header>
  <div class="mobil"><Burgermenu /></div>
  <div class="desk"><Deskmenu /></div>
</header>

<style>
  header {
    background-color: var(--secondary-color);
  }
  @media (max-width: 499px) {
    .desk {
      display: none;
    }
  }

  @media (min-width: 500px) {
    .mobil {
      display: none;
    }
  }
</style>
