---

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <article>
        <h2>Plakat af kirke</h2>
        <p>250kr</p>
        <a href="">Se mere</a>
      </article>
    </main>
  </body>
</html>

<style></style>
