---

---
<h1>Plakater</h1>
<div class="kort_til_produkt">
  <div>
    <div class="billede_kort">
      <img src="/public/stort_billede.jpg" alt="billede af plakat" />
    </div>
    <div class="beskrivelse_kort">
      <h2>Plakat navn</h2>
      <h3>Pris</h3>
    </div>
  </div>
  <div>
    <a href="/single-view">Læs mere</a>
  </div>
</div>

<style>
  h1{
    text-align: center;
    padding-top: 10%;
  }

  h2,
  h3,
  a {
    text-align: start;
  }

  .billede_kort {
    align-self: center;
  }
  .kort_til_produkt {
    background-color: var(--header-color);
    margin: 30px;
    padding: 10%;
    display: grid;
    justify-content: center;
    gap: 5%;
  }

  .beskrivelse_kort {
    display: grid;
  }

  main {
    display: grid;
  }
</style>
